<div class="row" style="margin-top: 1rem;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="header-title mt-0 mb-1">MÓDULO / LISTADO</h4>
                    <div class="d-flex" style="column-gap: 10px;" id="botonesNoRegistro">
                    </div>
                </div>
                <div class="w-100" style="border-bottom: 1px solid #d6d6d6; margin-bottom: 30px"></div>
                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th class="cabecera" style="max-width: 100px;">Acción</th>
                            <th class="cabecera">Módulo</th>
                            <th class="cabecera">Módulo padre</th>
                            <th class="cabecera">Url</th>
                            <th class="cabecera">Órden</th>
                            <th class="cabecera">Estado</th>
                        </tr>
                    </thead>
                    <tbody id="tablaModulos">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Modulo-->
<div class="modal fade" id="modalModulo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content position-relative">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formulario">
                <div class="modal-body">
                    <div class="d-flex w-100" style="column-gap: 16px;">
                        <div class="w-100 flex-grow-2">
                            <div class="row">
                                <input type="hidden" id="idModulo" value="">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="nombre">Nombre *</label>
                                        <input type="text" class="form-input form-control requerido" name="nombre"
                                            id="nombre" placeholder="Nombre del módulo"
                                            oninput="validarEntradasObligatorias()" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="modulo_padre">Módulo padre *</label>
                                        <select class="chosen-select form-select form-input form-control requerido"
                                            id="modulo_padre" onchange="validarEntradasObligatorias()">
                                            <option value="" disabled selected>Seleccionar</option>
                                            {{#each modulo_padre}}
                                            <option value="{{this.id}}">{{this.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="url">Url *</label>
                                        <input type="text" class="form-input form-control requerido" name="url" id="url"
                                            placeholder="Url del módulo" oninput="validarEntradasObligatorias()"
                                            autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="orden">Órden *</label>
                                        <input type="number" min="1" class="form-input form-control requerido"
                                            name="orden" id="orden" placeholder="Órden del módulo"
                                            oninput="validarEntradasObligatorias()" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 flex-grow-1" id="viewActions">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <label class="form-label" for="permisos">Seleccionar permiso :</label>
                                        <select class="chosen-select form-select form-input form-control"
                                            id="permisos" onchange="manejarSeleccionPermiso(event)">
                                            <option value="" disabled selected>Seleccionar</option>
                                            {{#each permisos}}
                                                <option value="{{this.id}}" data-nombre="{{this.nombre}}">{{this.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <table class="w-100">
                                    <thead>
                                        <tr>
                                            <th class="cabecera">#</th>
                                            <th class="cabecera">Permiso</th>
                                            <th class="cabecera" style="width: 100px;">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody  id="permisosTablaCuerpo">
                                        <tr class="w-full text-center" id="sinData">
                                            <td colspan="3" class="border-bottom border-dark">
                                                <div class="w-full text-center">Seleccionar e ingresar permisos.</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="guardar" disabled>Guardar</button>
                </div>
            </form>
            <div class="position-absolute top-0 start-0 w-100 h-100"
                style="background: rgba(255, 255, 255, 0.3); z-index: 1040; display: none;" id="loaderContainer">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>