<style>
    /* Estilo general del scrollbar */
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Estilo del botón (flechas arriba y abajo) del scrollbar */
    ::-webkit-scrollbar-button {
        display: none;
    }

    /* Estilo de la 'track' (trayectoria) del scrollbar */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Estilo de la 'handle' (barra móvil) del scrollbar */
    ::-webkit-scrollbar-thumb {
        background: #b6b4b4;
        border-radius: 4px;
    }

    /* Estilo de la 'handle' al pasar el ratón */
    ::-webkit-scrollbar-thumb:hover {
        background: #818181;
    }


    .quoted-message {
        border-left: 4px solid #00bfa5;
        /* Línea vertical para la cita */
        position: relative;
    }

    .quoted-message .audio-icon {
        width: 20px;
        /* Ajusta según tus necesidades */
    }

    .main-message.bg-success {
        background-color: #34b7f1 !important;
        /* Cambia el color de fondo predeterminado de Bootstrap */
    }

    #buscarContact::placeholder {
        padding: 5px;
        /* Ajusta el valor de acuerdo a tus necesidades */
    }

    #buscarContact {
        padding: 10px;
        /* Ajusta el valor de acuerdo a tus necesidades */
    }

    .hora-estilo {
        background-color: #007BFF;
        /* Fondo azul */
        color: #FFFFFF;
        /* Texto blanco */
        padding: 6px;
        /* Espaciado interno */
        border-radius: 5px;
        /* Bordes redondeados */
        text-align: center;
        /* Texto centrado */
        font-size: 14px;
        /* Tamaño de fuente */
    }


    .relative-position {
        position: relative;
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: #fff;
    }
</style>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Chat</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Shreyu</a></li>
                    <li class="breadcrumb-item active">Chat</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<input type="hidden" value="{{ urlchat }}" id="chaturl">
<div class="row">
    <div class="col-xl-3 col-lg-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex pb-2 border-bottom align-items-center">
                    <img src="assets/images/users/avatar-2.jpg" class="me-2 rounded-circle" height="48"
                        alt="Brandon Smith" />
                    <div>
                        <h5 class="my-0 fs-14" id="nameUser">MI CHAT</h5>
                    </div>
                    <div class="flex-grow-1">
                        <ul class="list-inline text-end mb-0">
                            <li class="list-inline-item fs-18 dropdown">
                                <a href="javascript: void(0);" class="dropdown-toggle text-dark"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-journal-text"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end">

                                    <div class="row" style="padding: 8px;">
                                        <div class="mb-2">
                                            <label for="plataforma_id">Plataforma</label>
                                            <select name="plataforma_id" id="plataforma_id" class="form-select">
                                                <option value="0">TODOS</option>
                                                {{#each plataforma}}
                                                <option value="{{ this.id }}">{{this.nombre}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </li>

                            <li class="list-inline-item fs-18 dropdown">
                                <a href="javascript: void(0);" class="dropdown-toggle text-dark"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-filter"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end">

                                    <div class="row" style="padding: 8px;">
                                        <div class="mb-2">
                                            <label for="">Embudo</label>
                                            <select name="filtroEmbudo" id="filtroEmbudo" class="form-select">
                                                <option value="0">TODOS</option>
                                                {{#each embudo}}
                                                <option value="{{ this.id }}">{{this.descripcion}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                        <div class="mb-1">
                                            <label for="">Etiqueta</label>
                                            <select name="filtroEtiqueta" id="filtroEtiqueta" class="form-select">
                                                <option value="0">Todos</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="list-inline-item fs-18 dropdown">
                                <a href="javascript: void(0);" class="dropdown-toggle text-dark"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">

                                    <a class="dropdown-item" href="javascript: void(0);" id="newContact"><i
                                            class="bi bi-person-plus fs-18 me-2"></i>Nuevo Contacto</a>
                                    <a class="dropdown-item" href="javascript: void(0);" id="misContactos"><i
                                            class="bi bi-person-lines-fill fs-18 me-2"></i>Contactos</a>
                                    <a class="dropdown-item" href="javascript: void(0);" id="filterContacto"><i
                                            class="bi bi-person-check-fill fs-18 me-2"></i>Filtro</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- start searchbar -->
                <div>

                    <form class="chat-search">
                        <div class="chat-search-box">
                            <div class="input-group">
                                <button class="btn input-group-text" type="submit">
                                    <i class="uil uil-search"></i>
                                </button>
                                <input type="search" class="form-control" placeholder="Buscar..." id="top-search">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End searchbar -->

                <!-- start contact list -->
                <div class="pe-2" data-simplebar style="max-height: 450px; min-height: 450px; overflow-y: scroll;"
                    id="contactos-whatsapp">

                </div>
                <!-- End contact list -->
            </div> <!-- End card-body -->
        </div> <!-- End card -->
    </div> <!-- End col -->
    <div class="col-xl-9 col-lg-7">
        <div class="card">
            <div class="card-body" id="cardBody">

            </div>
        </div> <!-- End card -->
    </div> <!-- End col -->
</div>




<div class="modal fade" id="viewProfile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" m-2">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="text-center mb-3">
                    <img src="assets/images/users/avatar-5.jpg" class="rounded-circle avatar-lg" height="48"
                        alt="Rhonda D" />
                </div>
                <div class="text-center mb-3">
                    <h5 class="mt-0 mb-0 fs-18">Rhonda D</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="accordion custom-accordionwitharrow" id="accordionExample">
                    <div class="card mb-1 shadow-none border-0">
                        <a href="#" class="text-dark" data-bs-toggle="collapse" data-bs-target="#about"
                            aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header border-0" id="headingOne">
                                <h5 class="m-0 fs-16">About
                                    <i class="uil uil-angle-down float-end accordion-arrow"></i>
                                </h5>
                            </div>
                        </a>
                        <div id="about" class="collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="card-body pt-0 text-muted">
                                <div class="row align-items-center ms-1">
                                    <div class="col-4 p-2"><i class="bi bi-telephone fs-18 me-2"></i>Numero</div>
                                    <div class="col-8 p-2 border-bottom">51922502947</div>
                                    <div class="col-4 p-2"><i class="bi bi-envelope fs-18 me-2"></i>Email</div>
                                    <div class="col-8 p-2 border-bottom">elvisbravo262@gmail.com</div>
                                    <div class="col-4 p-2"><i class="bi bi-envelope fs-18 me-2"></i>Universidad</div>
                                    <div class="col-8 p-2 border-bottom">San Martin</div>
                                    <div class="col-4 p-2"><i class="bi bi-envelope fs-18 me-2"></i>Ciudad</div>
                                    <div class="col-8 p-2 border-bottom">tarapoto</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="text-dark" data-bs-toggle="collapse" data-bs-target="#files"
                            aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header border-0" id="headingOne">
                                <h5 class="m-0 fs-16">Media, Links and Docs
                                    <i class="uil uil-angle-down float-end accordion-arrow"></i>
                                </h5>
                            </div>
                        </a>
                        <div id="files" class="collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="card-body pt-0 text-muted">
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-file-earmark-pdf h2"></i>
                                </div>
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-file-earmark-word h2"></i>
                                </div>
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-images h2"></i>
                                </div>
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-file-earmark-ppt h2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contenido del Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="myOffcanvas" aria-labelledby="myOffcanvasLabel" id="myOffcanvas">
    <div class="offcanvas-header">
        <h5 id="myOffcanvasLabel">Enviar Imagen</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body">

    </div>

    <button class="btn btn-primary" id="enviarImagen">Enviar</button>
</div>


<audio id="audioPlayer" style="display: none;">
    <source src="/audios/whatsapp/whatsapp-campana.mp3" type="audio/mpeg">
    Tu navegador no soporta la reproducción de audio.
</audio>

<!-- Modal -->
<div class="modal fade" id="modalEtiqueta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalEtiqueta">Editar Etiqueta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idpot" value="">
                <div class="mb-3">
                    <label for="embudo" class="col-form-label">Embudo:</label>
                    <select name="embudo" id="embudo" class="form-select"></select>
                </div>
                <div class="mb-3">
                    <label for="etiqueta" class="col-form-label">Etiqueta:</label>
                    <select name="etiqueta" id="etiqueta" class="form-select"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="editar_etiqueta">Editar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAsignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalEtiqueta">Asignar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idcp" value="">
                <div class="mb-3">
                    <label for="trabajador" class="col-form-label">Asignar a:</label>
                    <select name="trabajador" id="trabajador" class="form-select"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnAsignarEmpleado">Asignar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevoContacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalEtiqueta">Nuevo Contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="nombreContacto" class="col-form-label">Nombre Contacto:</label>
                            <input type="text" class="form-control" id="nombreContacto">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="codigopais" class="col-form-label">Código:</label>
                            <select name="codigopais" id="codigopais" class="form-select">
                                <option value="51">+51</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="nWhatsapp" class="col-form-label">Numero de Whatsapp:</label>
                            <input type="number" class="form-control" id="nWhatsapp">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="plataforma_contacto" class="col-form-label">Plataforma:</label>
                            <select name="plataforma_contacto" id="plataforma_contacto" class="form-select">

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="tipo_contacto" class="col-form-label">Tipo Contacto:</label>
                            <select name="tipo_contacto" id="tipo_contacto" class="form-select">
                                <option value="">Seleccione...</option>
                                <option value="1">Potencial</option>
                                <option value="2">Cliente</option>
                                <option value="3">Proveedor</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="contentContactNew">
                    <!--<div class="col-md-12">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="asignar_automaticamente" checked="">
                            <label class="form-check-label" for="asignar_automaticamente">Asignar automáticamente</label>

                        </div>
                    </div>-->
                </div>

                <div class="row" id="check_automatico">
                    <!--<div class="col-md-12">
                        <div class="mb-3">
                            <label for="asignarAgente" class="col-form-label">Agente:</label>
                            <select name="asignarAgente" id="asignarAgente" class="form-select">
                                <option value="">Seleccione...</option>
                                <option value="1">Potencial</option>
                                <option value="2">Cliente</option>
                                <option value="3">Proveedor</option>
                            </select>
                        </div>
                    </div>-->

                </div>

                <div class="row" id="dataPlantilla">

                </div>

                <div class="row" id="contentPlantilla">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnNuevoContacto">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Long Content Scroll Modal -->
<div class="modal fade" id="modalContacts" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">CONTACTOS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div style="padding: 0 1rem;">
                <div class="chat-search" style="height: 40px">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar..." id="buscarContact" value="">
                        <button class="btn input-group-text" type="submit">
                            <i class="uil uil-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-body" id="listaCont">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPlantilla" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalEtiqueta">Enviar Plantilla</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="escogePlantilla" class="col-form-label">Escoge una plantilla:</label>
                            <select name="escogePlantilla" id="escogePlantilla" class="form-select">
                                <option value=""></option>
                                <option value="">speack_potencial</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="contenidoPlantilla">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEnviarPlatilla">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Contacto-->
<div class="modal fade" id="modalEditarContacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalEtiqueta">Editar Contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="what" class="col-form-label">Numero de Whatsapp:</label>
                            <input type="number" class="form-control" id="what" readonly="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="nContacto" class="col-form-label">Nombre Contacto:</label>
                            <input type="text" class="form-control" id="nContacto">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarContacto">Editar</button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h4 id="offcanvasLeftLabel">Plataforma - filtrar contacto</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="padding-top: 0px;">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-1">
                        <label class="form-label" for="dateInit">Fecha Inicio</label>
                        <input type="date" class="form-control" id="dateInit">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-1">
                        <label class="form-label" for="dateEnd">Fecha Fin</label>
                        <input type="date" class="form-control" id="dateEnd">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-1">
                        <label class="form-label" for="platform">Plataforma</label>
                        <select name="platform" id="platform" class="form-select">

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-1">
                        <button type="button" class="btn btn-primary mt-3" id="consultarFiltro">Consultar</button>
                    </div>
                </div>
            </div>

            <div class="row" id="content_filtro">

            </div>

        </div>

    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasReenvio" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Reenviar Mensaje</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="contentOffcanvas">

    </div>
</div>

<!-- aca mostramos el contaco a enviar -->
<!-- Long Content Scroll Modal -->
<div class="modal fade" id="modalReenvio" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Enviar mensaje a</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="search" id="buscarContacto" placeholder="Buscar contacto" class="form-control mb-2" onkeyup="searchContacto(event)">
                <input type="hidden" id="codigoMensaje" value="">
                <input type="hidden" id="sendType" value="">

                <div id="contentModalReenvio"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="reenviar_mensaje_contacto">Enviar</button>
            </div>
        </div>
    </div>
</div>