<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from shreyu.coderthemes.com/pages-starter.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Mar 2023 15:41:04 GMT -->
<head>
        <meta charset="utf-8" />
        <title>{{ title }} | ES CONSULTORES</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="img/logos/grupoes.ico">

        {{#each css}}
        <link href="{{this}}" rel="stylesheet" type="text/css" />
        {{/each}}

		<!-- App css -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
		<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

		<link href="assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" disabled />
		<link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet"  disabled />

		<!-- icons -->
		<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />


    </head>

    <body class="loading position-relative" id="body" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "light"}, "showRightSidebarOnPageLoad": true}'
    style="overflow: hidden;">

        <!-- Begin page -->
        <div id="wrapper">
            <input type="hidden" id="dominio" value="{{ dominio }}">
            <input type="hidden" id="rol_user">
            <input type="hidden" id="user_id">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                {{>header}}
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">
                {{>menu}}
                
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        {{{ body }}}  
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                {{>footer}}
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Right Sidebar -->
        
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>
        <div class="overlay-loader show">
            <div class="loading-text">CARGANDO...</div>
        </div>

        <div class="alert alert-dismissible fade show alert-custom d-none" role="alert" id="alertWarning">
            <strong id="alertStrongText"></strong><span id="alertMessageText"></span>
            <button type="button" class="btn-close" aria-label="Cerrar" onclick="cerrarAlerta()"></button>
        </div>
        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>

        <script src="js/main.js"></script>

        {{#each js}}
            <script src="{{this}}"></script>
        {{/each}}

        <!-- App js -->
        <script src="assets/js/app.min.js"></script>

    </body>

<!-- Mirrored from shreyu.coderthemes.com/pages-starter.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Mar 2023 15:41:04 GMT -->
</html>